@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
  }

  h1 {
    font-size: var(--text-2xl);
    font-weight: 700;
  }

  h2 {
    font-size: var(--text-xl);
    font-weight: 700;
  }

  h3 {
    font-size: var(--text-lg);
    font-weight: 700;
  }

  a {
    color: var(--color-blue-600);
    text-decoration-line: underline;
  }
}

@theme {
  /* Design */
  --color-main: #3881A2;
  --color-second: #EDF6F9;
  --color-grey10: #F8F8F8;
  --color-line: #F3F3F3;

  --color-vstep: #44C4DB;
  --color-ielts: #EE756E;
  --color-aptis: #52B66B;
  --color-other: #7096EE;

  --color-t1bg: #E8F8FF;
  --color-t1: #32ADE6;
  --color-t2bg: #FFF5F7;
  --color-t2: #FF2D55;
  --color-t3bg: #FFF8EE;
  --color-t3: #FF9500;
  --color-t4bg: #FBF2FF;
  --color-t4: #AF52DE;
  
/* 
  --color-dscl-back: #1d2325;
  --color-dscl-blue1: #edf6f9;
  --color-dscl-blue2: #ffffff;
  --color-dscl-grey1: #e0e0e0;
  --color-dscl-grey2: #646464;
  --color-dscl-highlight: #00ff55;
  --color-dscl-line: #f9f9f9;
  --color-dscl-main: #3881a2;
  --color-dscl-second: #fff7e7;
  --color-dscl-white: #ffffff; */

  --font-sans: "Helvetica", sans-serif;

  /* Shadcn */
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@custom-variant dark (&:is(.dark *));